<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB2wcVFf-tM6dgsiQrmxQrhjeWbVdftes</string>
	<key>GCM_SENDER_ID</key>
	<string>658973573585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjbybbs.prescoreFlutter</string>
	<key>PROJECT_ID</key>
	<string>prescore-a782f</string>
	<key>STORAGE_BUCKET</key>
	<string>prescore-a782f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658973573585:ios:32a5e1a698d3f6259920f0</string>
</dict>
</plist>